<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyBasic - Create</title>
</head>
<body>
    <form action="store" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first name" value="">
        <input type="text" name="last_name" placeholder="last name" value="">
        <button type="submit">Save</button>
    </form>
</body>
</html>
