<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Basic - Index</title>
</head>

<body>
    <a href="create" style="margin: 20%">Create New Data</a>
    {% for person in persons %}
    <div style="border: 1px solid black; padding: 5px; margin: 10px 20%;">
        <ul>
            <li>First Name : {{ person.first_name }}</li>
            <li>Last Name : {{ person.last_name }}</li>
            <a href="edit/{{ person.id }}">Edit</a>
            /
            <a href="delete/{{ person.id }}">Delete</a>
        </ul>
    </div>
    {%endfor%}
</body>

</html>